

    #vis-container {   width: 100%; height: 75vh;  margin: 0;  padding: 0;   }

   .foo {
  counter-reset: foo;
}
.foo li {
  list-style-type: none;
  margin-bottom: 0.6em;
}
.foo li::before {
  counter-increment: foo;
  content: "1." counter(foo) " ";
  
}

ol {
  list-style-type: none;
  counter-reset: item;
  margin: 0;
  padding: 0;
}

ol > li {
  display: table;
  counter-increment: item;
 
}

ol > li:before {
  content: counters(item, ".") ") ";
  display: table-cell;
  padding-right: 0.6em;
}

li ol > li {
  margin: 0;
}

li ol > li:before {
  content: counters(item, ".") ") ";
}

img{
  width: 100%;
}